<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
 
    <connectionStrings>
      <add name="DefaultConnection"
        connectionString="Server=d4798c70-f5fd-4d1e-84e9-ab6f010c780f.sqlserver.sequelizer.com;Database=dbd4798c70f5fd4d1e84e9ab6f010c780f;User ID=afndphljeifjezgg;Password=e5SWVpTbJAfJkYEsKZ3tHj8TSAZCm3LJYSprvcnUAEGkm2kuW2Tsb3N357euxqXP;"
        providerName="System.Data.SqlClient"
        xdt:Transform="SetAttributes" 
        xdt:Locator="Match(name)"/>
    </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
